nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 429px;
    padding-right: 431px;

    
    .bg-color(rgb(253, 252, 243));


    @media @mobile {
        margin: 0 auto;
        flex-direction: row;
        width: 100%;
       justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
        padding-left: 59px;
        padding-right: 45px;
    }
 h1 {
     
     font-size: 43px;
    
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
        padding-top: 25px;
     @media @mobile {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 11px;
    padding-bottom: 8px;
    margin-bottom: 0px;
     }
 }
 a {
     
     text-decoration: none;
     font-size: 18px;
     margin: 0px 0px;
     @media @mobile {
         
     }


 }

}
