nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
     width: 590px;
    
    margin-left: 333px;
    margin-right: 353px;
    border-left-width: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  


    @media @mobile {
        margin: 0 auto;
        flex-direction: row;
        width: 100%;
        padding: 0 0 10px 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }
 h1 {
     
     font-size: 43px;
    
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
     @media @mobile {
             margin: 10px 146px;
     }
 }
 a {
     
     text-decoration: none;
     font-size: 18px;
     margin: 0px 0px;
     @media @mobile {
             margin: 0px 32px;
     }


 }

}
